# Core Django
Django==5.2.10
asgiref==3.11.0
gunicorn==21.2.0
whitenoise==6.6.0
dj-database-url==2.1.0

# Caching
django-redis==6.0.0
redis==7.1.0

# REST & JWT
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
django-filter==25.2
django-cors-headers==4.9.0
channels==4.3.2

# Utilities
bcrypt==3.2.0
blinker==1.4
blessings==1.7
async-timeout==5.0.1
bpython==0.22.1
numpy==2.2.6
matplotlib==3.10.8
Pillow==9.0.1
requests==2.25.1
pyparsing==3.3.1
python-dateutil==2.8.1
pytz==2022.1
sqlparse==0.5.5
typing_extensions==4.15.0

# Other dependencies
certifi==2020.6.20
cryptography==3.4.8
paramiko==2.9.3
PyJWT==2.3.0
watchdog==2.1.6
protobuf==3.12.4
PyNaCl==1.5.0
